<div class="row">
    <div class="col-md-6">
        <h5>Story Performance</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Metric</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Stories Posted</td>
                        <td><%= metrics?.metrics?.platform_specific?.media_types?.story_count || 0 %></td>
                    </tr>
                    <tr>
                        <td>Reels Posted</td>
                        <td><%= metrics?.metrics?.platform_specific?.media_types?.reels_count || 0 %></td>
                    </tr>
                    <tr>
                        <td>Images Posted</td>
                        <td><%= metrics?.metrics?.platform_specific?.media_types?.image_count || 0 %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h5>Recent Posts</h5>
        <div id="instagram-posts">
            <!-- Posts will be loaded here -->
        </div>
    </div>
</div> 