<div class="row">
    <div class="col-md-6">
        <h5>Video Performance</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Metric</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Average Watch Time</td>
                        <td><%= metrics?.metrics?.platform_specific?.average_watch_time?.toFixed(2) || 0 %> seconds</td>
                    </tr>
                    <tr>
                        <td>Completion Rate</td>
                        <td><%= (metrics?.metrics?.platform_specific?.completion_rate || 0).toFixed(2) %>%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h5>Recent Videos</h5>
        <div id="tiktok-posts">
            <!-- Posts will be loaded here -->
        </div>
    </div>
</div> 